body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background: linear-gradient(45deg, #ffcccc, #c891ff);
    background-size: 400% 400%;
    animation: cambioFondo 15s ease infinite;
}

@keyframes cambioFondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #ffcccc;
    text-align: center;
    padding: 20px;
}

#contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oso-corazon-container {
    text-align: center;
    margin-top: 20px;
}

#oso-corazon {
    transform: scale(0);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcccc;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#razones-amor {
    margin-top: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#razones-amor h3 {
    font-size: 1.7em;
    color: #ff3366;
    margin-bottom: 15px;
}

#razones-amor ul {
    list-style-type: none;
    padding: 0;
}

#razones-amor li {
    font-size: 1.4em;
    margin-bottom: 12px;
    position: relative;
}

#razones-amor li::before {
    content: "♥";
    color: #ff3366;
    font-size: 1.2em;
    margin-right: 8px;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

#mostrarRazones {
    background-color: #ff3366;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#aprobacion-casamiento {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario-casamiento {
    max-width: 400px;
    margin-top: 20px;
}

#formulario-casamiento label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

#formulario-casamiento input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 1em;
}

#formulario-casamiento button {
    background-color: #ff3366;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mensaje-casamiento p {
    font-size: 1.2em;
    margin-top: 15px;
    color: #0077cc;
}

#imagen-casamiento {
    text-align: center;
    margin-bottom: 20px;
}

#imagen-casamiento img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#imagen-casamiento:hover img {
    transform: scale(1.1);
}

#contador-aniversario {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#contador-dias {
    margin-top: 20px;
}

#contador-dias p {
    font-size: 1.5em;
    color: #333;
}
